<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Launchstore</title>
    {% endblock %}
    <meta charset="UTF-8">
    <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {% include 'parts/header.njk' %}

    {% block content %}{% endblock %}

    {% include 'parts/footer.njk' %}

    <h2>Esse é o arquivo MASTER</h2>
</body>
</html>